.Game-winner {
  display: flex;
  margin: 0.5rem 0;
  font-size: 1rem;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.Game-winner h3 {
  border: 2px solid rgb(16, 142, 253);
  width: auto;
  padding: 1rem 1rem;
  background: radial-gradient(
    farthest-corner at 40px 40px,
    rgba(80, 232, 255, 0.832) 0%,
    rgba(24, 24, 221, 0.83) 100%
  );
  color: rgb(255, 255, 255);
  border-radius: 0.5em;
  font-size: 1.8rem;
  box-shadow: 2px 2px 10px 5px white;
}

.all-cards {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: space-around;
}

.result-cards {
  max-width: 50%;
  width: 40vw;
  min-width: auto;
  margin: 1rem 1rem;
  border-radius: 1em;
  border: 1px solid rgb(234, 234, 255);
  padding: 1rem;
  background-color: rgba(232, 232, 232, 0.7);
  height: auto;
  display: flex;
  flex-direction: column;
}

.result-cards h3,
h4 {
  margin-bottom: 1rem;
}

.cards-container {
  display: flex;
  gap: 0 2rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.card-container .Pokemon {
  width: 5rem;
  height: 16rem;
  margin: 0.25rem 2rem;
}

.Game button {
  margin: 0.25rem;
  position: static;
  margin-top: 1rem;
}

.card-container .Pokemon h4 {
  margin-bottom: 0;
}

#lose {
  color: red;
  background: rgb(255, 157, 157);
  border-color: red;
}

#win {
  color: rgb(228, 255, 187);
  background: rgb(0, 208, 7);
  border-color: greenyellow;
}

#celebration {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* opacity: 20%; */
}

/*  ---- media queries ----- */
/* medium devices */
@media screen and (max-width: 1150px) {
  .all-cards {
    flex-flow: column wrap;
  }
  .result-cards {
    width: auto;
    max-width: 97%;
  }
}

@media screen and (max-width: 1024px) {
  .Game-winner h3 {
    font-size: 1.2rem;
  }

  .all-cards {
    flex-flow: column wrap;
  }

  .result-cards {
    max-width: 95%;
    width: auto;
    min-width: auto;
    margin: 1rem 1rem;
    border-radius: 1em;
    border: 1px solid rgb(234, 234, 255);
    padding: 1rem;
    background-color: rgba(232, 232, 232, 0.7);
    height: auto;
    display: flex;
    flex-direction: column;
  }
}

/* small devices */
@media screen and (max-width: 480px) {
  .Game-winner h3 {
    font-size: 1rem;
  }
}
