.Pokemons-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 4.5rem;
  color: black;
}

.Pokemons-game {
  height: 2rem;
}

/*  ---- media queries ----- */
/* medium devices */
@media screen and (max-width: 1024px) {
  .Pokemons-list {
    margin: 0 0.5rem;
  }
}
