body {
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1665042036476-51bbede1e493?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 75% 72%;
  background-attachment: fixed;
  color: rgb(0, 0, 0);
}

#root {
  background-color: rgba(255, 255, 255, 0.2);
}

button {
  font-size: 1.5rem;
  padding: 0.8rem 1.2rem;
  border-radius: 0.8em;
  margin: 1rem 3rem;
  margin-top: 2rem;
  position: sticky;
  top: 10px;
  z-index: 5;
}

button:not(:disabled) {
  background: radial-gradient(
    farthest-corner at 40px 40px,
    rgba(80, 232, 255, 0.832) 0%,
    rgba(24, 24, 221, 0.83) 100%
  );
  color: white;
  padding: 0.5rem 2rem;
}
button:disabled {
  background: radial-gradient(
    farthest-corner at 40px 40px,
    rgba(226, 226, 226, 0.678) 0%,
    rgba(135, 135, 135, 0.9) 100%
  );
  color: rgb(0, 0, 0);
}

button:hover:not(:disabled) {
  box-shadow: 1px 1px 10px 3px white;
  transform: scaleX(1.065);
  cursor: pointer;
  background: radial-gradient(
    farthest-corner at 40px 40px,
    rgba(255, 255, 255) 0%,
    rgba(98, 223, 251, 0.83) 100%
  );
  color: black;
}
